@font-face
  font-family 'ProximaNova'
  src url('/fonts/proxima_nova/proxima_nova_regular-webfont.woff') format('woff'),
  url('/fonts/proxima_nova/proxima_nova_regular-webfont.woff2') format('woff2')

@font-face
  font-family 'ProximaNovaBold'
  src url('/fonts/proxima_nova/proxima_nova_bold-webfont.woff') format('woff'),
  url('/fonts/proxima_nova/proxima_nova_bold-webfont.woff2') format('woff2'),
  url('/fonts/proxima_nova/proxima_nova_bold-webfont.ttf') format('ttf')

@font-face
  font-family 'ProximaNovaSemibold'
  src url('/fonts/proxima_nova/proxima_nova_semibold-webfont.woff') format('woff'),
  url('/fonts/proxima_nova/proxima_nova_semibold-webfont.woff2') format('woff2'),
  url('/fonts/proxima_nova/proxima_nova_semibold-webfont.ttf') format('ttf')

@font-face
  font-family 'RobotoCommon'
  font-style normal
  font-weight 100
  src url('/fonts/roboto-condensed/roboto-condensed-v16-latin-regular.eot')
  src local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('/fonts/roboto-condensed/roboto-condensed-v16-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/roboto-condensed/roboto-condensed-v16-latin-regular.woff2') format('woff2'),
       url('/fonts/roboto-condensed/roboto-condensed-v16-latin-regular.woff') format('woff'),
       url('/fonts/roboto-condensed/roboto-condensed-v16-latin-regular.ttf') format('truetype'),
       url('/fonts/roboto-condensed/roboto-condensed-v16-latin-regular.svg#RobotoCondensed') format('svg')

*
  margin 0
  padding 0
  box-sizing border-box
  font-family 'RobotoCommon'

.hide
  display none !important

.error
  color rgb(244, 67, 54)

.underline
  text-decoration underline

.pointer
  cursor pointer

.inline-block
  display inline-block

.m-t-1
  margin-top 1em

.m-b-1
  margin-bottom 1em

.p-b-1
  padding-bottom 1em

.m-v-1
  margin 1em 0

.margin-center
  margin 0 auto

.text-center
  text-align center

.text-right
  text-align right

.invisible
  opacity 0

.img-autosize
  width 100%
  height auto
